In [3]:
for i in range(5):
    for j in range(5):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [6]:
k=1
for i in range(5):
    for j in range(5):
        print(k,end="")
    print()
    k=k+1

11111
22222
33333
44444
55555

In [12]:
k=1
for i in range(5):
    for j in range(5):
        print(k,end="")
        k=k+1
    print()
    k=1

12345
12345
12345
12345
12345

In [13]:
k=5
for i in range(5):
    for j in range(5):
        print(k,end="")
    print()
    k=k-1

55555
44444
33333
22222
11111

In [35]:
k=65
for i in range(5):
    for j in range(5):
        print(chr(k),end="")
    print()
    k=k+1

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [36]:
k=69
for i in range(5):
    for j in range(5):
        print(chr(k),end="")
    print()
    k=k-1

EEEEE
DDDDD
CCCCC
BBBBB
AAAAA

In [43]:
for i in range (6):
    for j in range (i):
        print("*",end="")
    print()

*
**
***
****
*****

In [52]:
k=0
for i in range (6):
    for j in range (i):
        print(k,end="")
    print()
    k=k+1

1
22
333
4444
55555

In [55]:
k=1
for i in range (6):
    for j in range (i):
        print(k,end="")
        k=k+1
    print()
    k=1

1
12
123
1234
12345

In [57]:
k=64
for i in range (6):
    for j in range (i):
        print(chr(k),end="")
    print()
    k=k+1

A
BB
CCC
DDDD
EEEEE

In [58]:
k=65
for i in range (6):
    for j in range (i):
        print(chr(k),end="")
        k=k+1
    print()
    k=65

A
AB
ABC
ABCD
ABCDE

In [61]:
word = "TANVI"
for i in range(1, len(word) + 1):
    for j in range(1, i + 1):
        print(word[j-1], end="")
    print()

T
TA
TAN
TANV
TANVI

In [68]:
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print("*",end="")
    print()

*****
****
***
**
*

In [73]:
k=1
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print(k,end="")
    print()
    k=k+1

11111
2222
333
44
5

In [74]:
k=1
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print(k,end="")
        k=k+1
    print()
    k=1

12345
1234
123
12
1

In [75]:
k=65
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print(chr(k),end="")
    print()
    k=k+1

AAAAA
BBBB
CCC
DD
E

In [77]:
k=65
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print(chr(k),end="")
        k=k+1
    print()
    k=65

ABCDE
ABCD
ABC
AB
A

In [78]:
k=69
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print(chr(k),end="")
    print()
    k=k-1

EEEEE
DDDD
CCC
BB
A

In [79]:
k=69
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print(chr(k),end="")
        k=k-1
    print()
    k=69

EDCBA
EDCB
EDC
ED
E

In [87]:
word = "PRABHU"
for i in range(len(word), 0, -1):
    print(word[:i])

PRABHU
PRABH
PRAB
PRA
PR
P

In [88]:
rows=5
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

In [89]:
a=1
rows=5
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(a, end="")
    print()
    a=a+1

    1
   22
  333
 4444
55555

In [91]:
a=1
rows=5
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(a, end="")
        a=a+1
    print()
    a=1

    1
   12
  123
 1234
12345

In [92]:
a=65
rows=5
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(chr(a), end="")
        a=a+1
    print()
    a=65

    A
   AB
  ABC
 ABCD
ABCDE

In [93]:
a=65
rows=5
for i in range(1, rows + 1):
    for j in range(rows, i, -1):
        print(" ", end="")
    for k in range(1, i + 1):
        print(chr(a), end="")
    print()
    a=a+1

    A
   BB
  CCC
 DDDD
EEEEE

In [95]:
word = "PRABHU"
rows = len(word)
for i in range(rows):
    for j in range(rows - 1, i, -1):
        print(" ", end="")
    for k in range(i + 1):
        print(word[k], end="")
    print()

     P
    PR
   PRA
  PRAB
 PRABH
PRABHU

In [96]:
rows = 5
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

In [100]:
a=5
rows = 5
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print(a, end="")
    print()
    a=a-1

55555
 4444
  333
   22
    1

In [101]:
a=1
rows = 5
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print(a, end="")
        a=a+1
    print()
    a=1

12345
 1234
  123
   12
    1

In [102]:
a=69
rows = 5
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print(chr(a), end="")
    print()
    a=a-1

EEEEE
 DDDD
  CCC
   BB
    A

In [103]:
a=65
rows = 5
for i in range(rows):
    for j in range(i):
        print(" ", end="")
    for k in range(rows - i):
        print(chr(a), end="")
        a=a+1
    print()
    a=65

ABCDE
 ABCD
  ABC
   AB
    A

In [104]:
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [107]:
a=1
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(a, end="")
    print()
    a=a+1

    1
   222
  33333
 4444444
555555555

In [108]:
a=1
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(a, end="")
    print()
    a=a+2

    1
   333
  55555
 7777777
999999999

In [109]:
a=1
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(a, end="")
        a=a+1
    print()
    a=1

    1
   123
  12345
 1234567
123456789

In [115]:
for i in range(1,6):
    for j in range(5-i):
        print(" ", end="")
    for k in range(2 * i - 1, 0, -1):
        print(k, end="")
    print()

    1
   321
  54321
 7654321
987654321

In [116]:
a=65
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(chr(a), end="")
    print()
    a=a+1

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE

In [117]:
a=65
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(chr(a), end="")
    print()
    a=a+2

    A
   CCC
  EEEEE
 GGGGGGG
IIIIIIIII

In [118]:
a=65
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print(chr(a), end="")
        a=a+1
    print()
    a=65

    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

In [130]:
for i in range(1,6):
    for j in range(5-i):
        print(" ", end="")
    for k in range(65+2 * i - 2, 64, -1):
        print(chr(k), end="")
        a=a+1
    print()

    A
   CBA
  EDCBA
 GFEDCBA
IHGFEDCBA

In [131]:
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end="")
    print()
for i in range(rows - 1, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

In [132]:
word = "PRABHU"
for i in range(1, len(word) + 1):
    print(word[:i])
for i in range(len(word) - 1, 0, -1):
    print(word[:i])

P
PR
PRA
PRAB
PRABH
PRABHU
PRABH
PRAB
PRA
PR
P

In [133]:
rows = 5 
for i in range(rows):
    for j in range(rows - i):
        print("*", end="")
    for k in range(2 * i):
        print(" ", end="")
    for l in range(rows - i):
        print("*", end="")
    print()

**********
****  ****
***    ***
**      **
*        *

In [135]:
rows = 5 
for i in range(rows):
    for j in range(i + 1):
        print("*", end="")
    for k in range(2 * (rows - i - 1)):
        print(" ", end="")
    for l in range(i + 1):
        print("*", end="")
    print()

*        *
**      **
***    ***
****  ****
**********

In [137]:
rows = 5 
for i in range(rows):
    for j in range(rows - i):
        print("*", end="")
    for k in range(2 * i):
        print(" ", end="")
    for l in range(rows - i):
        print("*", end="")
    print()
for i in range(rows):
    for j in range(i + 1):
        print("*", end="")
    for k in range(2 * (rows - i - 1)):
        print(" ", end="")
    for l in range(i + 1):
        print("*", end="")
    print()

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********