In [2]:
newlists=["apple","orange","banana"]
print(type(newlists))

<class 'list'>

In [3]:
list1=["man",45,True,56,"male"]
print(len(list1))

5

In [4]:
fruit=list(("apple","orange","banana"))
print(fruit)

['apple', 'orange', 'banana']

In [9]:
list1=["apple","orange","banana"]
print(list1[-2])

orange

In [7]:
list2=["apple","orange","banana","mango","cherry","kiwi","melom"]
if "mango" in list2:
    print("yes")

yes

In [10]:
list1=["apple","orange","banana"]
list1[1]="kiwi"
print(list1)

['apple', 'kiwi', 'banana']

In [14]:
list2=["apple","orange","banana","mango","cherry","kiwi","melon"]
#list2[1:3]=["brinjal","tomato"]
print(list2[2:5])

['banana', 'mango', 'cherry']

In [15]:
list1=["apple","orange","banana"]
list1[1:2]=["aaa","bbb"]
print(list1)

['apple', 'aaa', 'bbb', 'banana']

In [16]:
list1=["apple","orange","banana"]
list1.insert(2,"berry")
print(list1)

['apple', 'orange', 'berry', 'banana']

In [17]:
list1=["apple","orange","banana"]
list1[2]="berry"
print(list1)

['apple', 'orange', 'berry']

In [18]:
list1=["apple","orange","banana"]
list1.append("cherry")
print(list1)

['apple', 'orange', 'banana', 'cherry']

In [19]:
list1=["apple","orange","banana"]
#list2=["aaa","bbb","ccc"]
tuple1=("mango","cherry")
list1.extend(tuple1)
#list1.extend(list2)
print(list1)

['apple', 'orange', 'banana', 'mango', 'cherry']

In [20]:
list1=["apple","orange","orange","banana"]
list1.remove("orange")
print(list1)

['apple', 'orange', 'banana']

In [21]:
list1=["apple","orange","banana"]
list1.pop(1)
print(list1)

['apple', 'banana']

In [22]:
list1=["apple","orange","banana"]
list1.clear()
print(list1)

[]

In [23]:
list1=["apple","orange","banana"]
for x in list1:
    print(x)

apple
orange
banana

In [25]:
list1=["apple","orange","banana"]
for i in range (len(list1)):
    print(list1[i])

apple
orange
banana

In [26]:
list1=["apple","orange","banana"]
i=0
while i<len(list1):
    print(list1)
    i=i+1

['apple', 'orange', 'banana']
['apple', 'orange', 'banana']
['apple', 'orange', 'banana']

In [27]:
list1=["apple","orange","banana"]
[print(x) for x in list1]

apple
orange
banana

[None, None, None]

In [28]:
list1=["apple","orange","banana"]
list1.reverse()
print(list1)

['banana', 'orange', 'apple']

In [32]:
list1=["apple","orange","banana"]
list2=list1
print(list2)
print(list1)

['apple', 'orange', 'banana']
['apple', 'orange', 'banana']

In [30]:
list1=["apple","orange","banana"]
list2=["mango","kiwi"]
list3=list1+list2
print(list3)

['apple', 'orange', 'banana', 'mango', 'kiwi']

In [31]:
thislist=["apple","orange","banana"]
print(len(thislist))

3

In [33]:
thislist=["apple","orange","banana"]
print(thislist[-2])

orange

In [34]:
list2=["apple","orange","banana","mango","cherry","kiwi","melon"]
list2.sort()
print(list2)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon', 'orange']

In [36]:
#list comprehension
list5=[x for x in range(1,11)]
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
list2=["apple","orange","banana","mango","cherry","kiwi","melon"]
del list2[3]
print(list2)

['apple', 'orange', 'banana', 'cherry', 'kiwi', 'melon']

In [40]:
#WAP to create a list and display it, perform append and delete operation and display list.
mylist=["kappala","tanvi","ananya",21051523]
print(mylist)
mylist.append("CSE36")
print(mylist)
mylist.remove("kappala")
print(mylist)

['kappala', 'tanvi', 'ananya', 21051523]
['kappala', 'tanvi', 'ananya', 21051523, 'CSE36']
['tanvi', 'ananya', 21051523, 'CSE36']

In [39]:
#WAP to create a list and display it, perform adding an element at particular position and delete a element at a particular position and display updated list
mylist=["kappala","tanvi","ananya",21051523]
print(mylist)
mylist.insert(2,"TTLab")
print(mylist)
del mylist[4]
print(mylist)

['kappala', 'tanvi', 'ananya', 21051523]
['kappala', 'tanvi', 'TTLab', 'ananya', 21051523]
['kappala', 'tanvi', 'TTLab', 'ananya']

In [50]:
#WAP to create a list and display it, delete all occurances of a particular number and display the updated list.
mylist=["kappala",21051523,"tanvi","ananya",21051523,"CSE36","QC05","TTLab",21051523]
print(mylist)
i=0
while i< len(mylist):
    if mylist[i]==21051523:
        mylist.remove(21051523)
        print(mylist)
    i=i+1

['kappala', 21051523, 'tanvi', 'ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
['kappala', 'tanvi', 'ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
['kappala', 'tanvi', 'ananya', 'CSE36', 'QC05', 'TTLab', 21051523]
['kappala', 'tanvi', 'ananya', 'CSE36', 'QC05', 'TTLab']

In [58]:
#WAP to create a list and display it, store unique number in another list and display new list.
mylist=["kappala",21051523,"tanvi","ananya",21051523,"CSE36","QC05","TTLab",21051523]
print(mylist)
newlist=[]
for str in mylist:
    if str not in newlist:
        newlist.append(str)
    print(newlist)

['kappala', 21051523, 'tanvi', 'ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
['kappala']
['kappala', 21051523]
['kappala', 21051523, 'tanvi']
['kappala', 21051523, 'tanvi', 'ananya']
['kappala', 21051523, 'tanvi', 'ananya']
['kappala', 21051523, 'tanvi', 'ananya', 'CSE36']
['kappala', 21051523, 'tanvi', 'ananya', 'CSE36', 'QC05']
['kappala', 21051523, 'tanvi', 'ananya', 'CSE36', 'QC05', 'TTLab']
['kappala', 21051523, 'tanvi', 'ananya', 'CSE36', 'QC05', 'TTLab']

In [72]:
#WAP to create a list and display it, delete falsy values and display updated list.(FILTER)
mylist=["kappala",21051523,"tanvi","ananya",21051523,"CSE36","QC05","TTLab",21051523]
print(mylist)
filteredlist=list(filter(lambda x: x==21051523,mylist))
print(filteredlist)

['kappala', 21051523, 'tanvi', 'ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
[21051523, 21051523, 21051523]

In [77]:
#WAP to interchange first and last elements in a list.
mylist=["kappala","tanvi","ananya",21051523,"CSE36",19]
i=len(mylist)-1
j=0
temp=mylist[j]
mylist[j]=mylist[i]
mylist[i]=temp
print(mylist)

[19, 'tanvi', 'ananya', 21051523, 'CSE36', 'kappala']

In [82]:
#WAP to swap two elements in a list
mylist=["kappala","tanvi","ananya",21051523,"CSE36",19]
index=int(input("Enter a index you want to swap: "))
an_index=int(input("Enter another index you want to swap with: "))
i=index
j=an_index
temp=mylist[i]
mylist[i]=mylist[j]
mylist[j]=temp
print(mylist)

Enter a index you want to swap: 2
Enter another index you want to swap with: 3
['kappala', 'tanvi', 21051523, 'ananya', 'CSE36', 19]

In [85]:
#Swap elements in string list
mylist=["kappala","tanvi","ananya",21051523,"CSE36",19]
index=int(input("Enter a index you want to swap: "))
an_index=int(input("Enter another index you want to swap with: "))
i=index
j=an_index
temp=mylist[i]
mylist[i]=mylist[j]
mylist[j]=temp
print(mylist)

Enter a index you want to swap: 3
Enter another index you want to swap with: 1
['kappala', 21051523, 'ananya', 'tanvi', 'CSE36', 19]

In [84]:
#Maximum of two numbers in python.
num1=int(input("Enter number 1: "))
num2=int(input("Enter number 2: "))
if num1>num2:
    print("Greater is ",num1)
else:
    print("Greater is ",num2)

Enter number 1: 23
Enter number 2: 26
Greater is  26

In [87]:
#Python program to check if element exists in a list.
mylist=[2,1,0,5,1,5,2,3]
element=int(input("Enter the element to check: "))
if element in mylist:
    print("Present")
else:
    print("Absent")

Enter the element to check: 6
Absent

In [88]:
#Python program to reverse a list.
mylist=["kappala","tanvi","ananya",21051523,"CSE36",19]
mylist.reverse()
print(mylist)

[19, 'CSE36', 21051523, 'ananya', 'tanvi', 'kappala']

In [91]:
#Python program to count occurances of an element in a list.
mylist=[2,1,0,5,1,5,2,3,2,1,0,5,1,5,2,3]
element=int(input("Enter the element: "))
count=mylist.count(element)
print("The element occurs",count,"times.")

Enter the element: 3
The element occurs 2 times.

In [100]:
#Python program to find second largest element in a list.
mylist=[2,1,0,5,1,5,2,3,6,3,4,1,2,8]
mylist.sort()
newlist=[]
for int in mylist:
    if int not in newlist:
        newlist.append(int)
    print(newlist)
i=len(newlist)
print("Second largest is",i-2)

[0]
[0, 1]
[0, 1]
[0, 1]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 8]
Second largest is 6

In [105]:
#Python program to count even and odd numbers in a list.
mylist=[2,1,0,5,1,5,2,3,6,3,4,1,2,8]
even_count=0
odd_count=0
for num in mylist:
    if num%2==0:
        even_count+=1
    else:
        odd_count+=1
print("Even:",even_count)
print("Odd:",odd_count)

Even: 7
Odd: 7

In [106]:
#Python program to count positive and negetive numbers in a list.
mylist=[2,-1,0,-5,1,5,-2,3,6,-3,4,1,-2,8]
pos_count=0
neg_count=0
for num in mylist:
    if num>0:
        pos_count+=1
    else:
        neg_count+=1
print("Positive:",pos_count)
print("Negetive:",neg_count)

Positive: 8
Negetive: 6

In [117]:
#Remove multiple elements from a list in python.
mylist=["kappala",21051523,"tanvi","ananya",21051523,"CSE36","QC05","TTLab",21051523]
print(mylist)
for str in mylist:
    if str in mylist:
        mylist.remove(str)
    print(mylist)

['kappala', 21051523, 'tanvi', 'ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
[21051523, 'tanvi', 'ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
[21051523, 'ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
['ananya', 21051523, 'CSE36', 'QC05', 'TTLab', 21051523]
['ananya', 21051523, 'CSE36', 'TTLab', 21051523]
['ananya', 'CSE36', 'TTLab', 21051523]

In [118]:
#Python program to print duplicates from a list of integers.
mylist=[2,1,0,5,1,5,2,3,6,3,4,1,2,8]
print(mylist)
seen=set()
duplicates=set()
for element in mylist:
    if element in seen:
        duplicates.add(element)
    seen.add(element)
print("Duplicate elements:", duplicates)

[2, 1, 0, 5, 1, 5, 2, 3, 6, 3, 4, 1, 2, 8]
Duplicate elements: {1, 2, 3, 5}